# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# Documentation
doc/api/

# Env
.env*

# Generated JS
*.dart.js
*.js
*.js.map
*.js_

# Android build
/android/app/debug
/android/app/profile
/android/app/release