rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Cho phép đọc/ghi invoices khi đã đăng nhập
    match /invoices/{invoiceId} {
      allow read, write: if request.auth != null;
    }

    // Cho phép đọc/ghi user_profile của chính mình
    match /user_profile/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
